@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DOSFont'; /* 自定义字体名称 */
    src: url('../font/Perfect DOS VGA 437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/* 選取文字的樣式 */
::selection {
  background: #6b7280; /* 灰色背景（使用你的主題色 gray-500） */
  color: #ffffff;      /* 白色文字 */
}

/* Firefox 兼容性 */
::-moz-selection {
  background: #6b7280;
  color: #ffffff;
}
  